.deck-selector {
	.lang-wrapper {
		min-height: 90vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	h1 {
		margin-bottom: 5px;
	}
	.MuiGrid-container {
		margin: 50px 0;
	}
	.MuiCard-root {
		width: 250px;
		margin: 10px;
		text-align: left;
	}
	.try-it {
		padding: 15px 0 30px 0;
		position: absolute;
		bottom: 0;
		width: 100%;
		background: $white;
	}
}
.deck-inputs-wrapper.MuiGrid-container {
	max-width: 400px;
	margin: 0;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translateX(-50%);
	@media screen and (max-width: 660px) {
		max-width: 100%;
		padding: 15px;
	}
	button {
		margin-top: 10px;
	}
}
.deck-dialog {
	.MuiFormControl-root {
		margin-bottom: 15px;
	}
}