.deck-selector {
	display: flex;
	flex-direction: column;
	height: 100%;
	.main-content {
		flex-grow: 1;
		justify-content: center;
		align-items: center;
		display: flex;
	}
	.lang-wrapper {
		text-align: center;
		padding: 25px;
		margin: 0 3%;
		position: relative;
		h1 {
			margin: 0 0 15px 0;
			position: relative;
		}
		.deck-load-buttons {
			padding: 8px 16px 16px 16px;
			justify-content: center;
		}
	}
	.material-icons {
		position: absolute;
		right: 15px;
		top: 15px;
		cursor: pointer;
	}
	// .try-it {
	// 	padding: 20px 0;
	// }
}
.demo-drawer {
	.MuiCard-root {
		width: 250px;
		margin: 10px;
		text-align: left;
	}
	.MuiGrid-container {
		margin: 50px 0;
	}
}
.deck-inputs-wrapper.MuiGrid-container {
	@media screen and (max-width: 660px) {
		max-width: 100%;
		padding: 15px;
	}
	button {
		margin-top: 10px;
	}
}
.deck-dialog {
	.MuiFormControl-root {
		margin-bottom: 15px;
	}
}