.intro-dialog {
    p {
        padding: 5px 0;
    }
    img {
        display: block;
        margin: 10px auto;
        max-width: 100%;
    }
    .MuiButton-root {
        width: 100%;
    }
}
.intro-dialog .step-intro {
    button {
        background: none;
        border: none;
        text-decoration: underline;
        font: inherit;
        padding: 0;
        cursor: pointer;
    }
}
.intro-dialog .step-one { 
    .MuiButton-root {
        margin-top: 10px;
    }
}
.intro-dialog .step-two {
    thead,
    tr th {
        background: $off-white;
    }
    td {
        white-space: nowrap;
    }
    .MuiTableCell-head,
    .MuiTableCell-root {
        line-height: 5px;
    }
    thead td:last-of-type,
    tr td:last-of-type {
        border-left: 1px solid rgba(224, 224, 224, 1);
    }
}