// Import Roboto 300, 400, 500, & 700 & PT Serif 400
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto:wght@300;400;500;700&display=swap');

// Customize Bootstrap variables
$font-family-base: 'Noto Sans JP', sans-serif;
$font-family-secondary: 'PT Serif', serif;

// Colors
$white: #fff;
$off-white: #E5EFEA;
$black: #000;
$green: #51B53F; // Ocean Green - Success
$blue: #020202; // Curious Blue - Primary
$dark-blue: #26232A;
$yellow: #c09839; // Tussock - Warning
$spruce: #32464d; // Info
$red: #B53F51; // Pomegranate -	Danger