body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#root {
	width: 100%;
	height: 100%;
	background: white;
	border-radius: 2%;
	text-align: center;
	padding: 0px;
	.main-container {
		padding: 0px;
		height: 100%;
	}
	input {
		margin: 0 auto;
		margin-top: 20px;
		width: 90%;
		@media screen and (min-width: 660px) {
			width: 350px;
		}
	}
	&.success, &.incorrect {
		.button-container > button {
			display: none;
		}
	}
	nav {
		z-index: 1;
		position: absolute;
		width: 100%;
		left: 0;
	}
}
#form {
	position: fixed;
	width: 100%;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	h1.lang-to{
		display: none;
	}
	h3 {
		cursor: pointer;
		width: fit-content;
		position: relative;
		margin: 0 auto;
		&:hover .switch-icon {
			display: inline;
		}
	}
	h4 {
		color: grey;
	}
	@media screen and (max-width: 660px) {
		h1 {
			font-size: 2em;
		}
	}
	span{
		color: #007bff;
	}
	.switch-icon {
		color: #007bff;
		display: none;
		padding-right: 6px;
	}
}
.progress-container {
	padding-top: 70px;
	position: absolute;
	.progress {
		height: 30px;
	}
	span {
		position: relative;
		top: 10px;
		color: grey;
	}
}
.button-container {
	border-top: 1px solid grey;
	position: absolute;
	min-height: 100px;
	left: 0;
	bottom: 0;
	width: 100%;
	button {
		top: 50%;
		transform: translatey(-50%);
	}
	.btn-left {
		position: absolute;
		left: 20px;
	}
	.btn-right {
		position: absolute;
		right: 20px;
	}
	.btn-center {
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
		@media screen and (max-width: 660px) {
			top: -33px;
		}
	}
	.alert {
		margin-bottom: 0;
		padding-bottom: 25px;
		border-radius: 0;
		.message {
			text-align: left;
		}
		button {
			position: absolute;
			right: 20px;
		}
	}
	.dropdown-toggle {
		top: 50px;
	}
}
.dropdown-menu {
	.dropdown-item {
		cursor: pointer;
	}
}
.Wordbank {
	.form-control {
		display: none;
	}
}
.word-bank {
	button:focus {
		background: #e8e8e8;
		outline: none;
	}
	.google-translate {
		float: right;
	}
	.Wordbank & {
		display: flex;
	}
}
.alert-success {
	display: none;
	#root.success & {
		display: block;
	}
}
.alert-danger {
	display: none;
	#root.incorrect & {
		display: block;
	}
}

.flash-card-button {
	margin-bottom: 30px;
}

.Keyboard {
	.word-bank {
		display: none;
	}
	.form-control {
		display: block;
	}
}

.Flashcard {
	.word-bank, .form-control, .button-container {
		display: none;
	}
	h1.lang-from, h1.lang-to {
		padding: 100px;
		border: 1px solid grey;
		margin: 25px 100px;
		@media screen and (max-width: 660px) {
			margin: 25px 0;
		}
	}
	.swap-card, .navigate-next, .archive{
		position: absolute;
		right: 120px;
		font-size: 50px;
		cursor: pointer;
		@media screen and (max-width: 660px) {
			right: 20px;
		}
	}
	.swap-card {
		bottom: 40px;
	}
	.navigate-next {
		top: 70px;
	}
	.archive {
		right: initial;
		left: 120px;
		bottom: 40px;
		@media screen and (max-width: 660px) {
			left: 20px;
		}
	}
	&.show-answer {
		h1.lang-from {
			display: none;
		}
		#form h1.lang-to {
			display: block;
			background:lightgreen;
		}
	}
}